@import ../abstracts/colors
@import ../abstracts/font

.parcours
    width: 80%
    margin: auto

    .profil
        width: 50%
        margin: auto

    .xp
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: flex-end

    .school
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        flex-direction: column


