@import ../abstracts/colors
@import ../abstracts/font

.parcours
    width: 80%
    margin: auto

    .profil
        display: flex
        align-items: center
        justify-content: space-around

    .xp
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: flex-end

    .school
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        flex-direction: column


